body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e3b39; 
    color:white;
}


.nav {
    background-color: #2A5455;  /* dark green */
    padding: 15px;
    text-align: center;
}

.nav a {
    color: #E7DCCF;   /* beige text */
    margin: 0 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    color: #7DBAC3;   /* teal highlight */
}

.banner{
    background-color:#09302e;  
    padding:30px;
    text-align:center;
}

.banner h1{
    margin:0;
    font-size:40px;
    font-weight:bold;
    color:#eaeaea;
}

.banner p{
    margin:5px 0 0;
    font-size:20px;
    color:#d6d6d6;
}



.heading{
    text-align:center;
    margin:30px 0;
    font-size:30px;
    color:#d6d6d6;  
}



.container{
    width:80%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}


.card{
    width:30%;
    background-color:#0b2726; 
    margin-bottom:30px;
    border:2px solid #1c5f5b; 
    border-radius:6px;
    text-align:center;
    padding:10px;
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-bottom:2px solid #1c5f5b;
}

.card h3{
    margin-top:10px;
    font-size:20px;
    color:white;
}
