body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
    background-color: #1E3E40;
    color: #F3EFE8;
}

.nav {
    background-color: #2A5455;  /* dark green */
    padding: 15px;
    text-align: center;
}

.nav a {
    color: #E7DCCF;   /* beige text */
    margin: 0 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    color: #7DBAC3;   /* teal highlight */
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #F3EFE8;
}

.box {
    background-color: #2A5455;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.box h2 {
    color: #E7DCCF;
}

.form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #346E70;
    color: #F3EFE8;
    font-size: 15px;
}

.form textarea {
    height: 120px;
}

button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #7DBAC3; 
    color: #1E3E40;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 20px 0;
    color: #F3EFE8;
    background-color: #2A5455;
    font-size: 14px;
}
