
body{
    margin:0;
    padding:0;
    font-family:serif;
    background:#0d2b26; 
}


.banner{
    width:100%;
    height:450px;
    background:linear-gradient(
        to bottom,
        #0d2b26 0%,
        #17493f 45%,
        #0d2b26 100%
    );
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.banner h1{
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    font-size:72px;
    color:#efe8dd; 
    margin:0;
}

.banner p{
    margin-top:10px;
    font-size:22px;
    color:#cfc6bb; 
    font-style:italic;
}

.nav{
    width:100%;
    background:#0b1e1a;
    padding:12px 0;
    display:flex;
    justify-content:center;
    gap:60px;
}

.nav a{
    color:#efe8dd;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

.nav a:hover{
    color:#b5aa9e;
}

footer{
    text-align:center;
    color:#efe8dd;
    padding:20px;
    font-size:18px;
    border-top:2px solid #204e43;
    margin-top:40px;
}
